*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.background{
    width: 100%;
    background-image: url('https://demo.w3layouts.com/demos_new/template_demo/17-12-2018/forest-demo_Free/2069386206/web/images/b2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
/* starting of the header */
header{
    display: flex;
    justify-content: space-between;
    padding:  20px 63px;
    box-sizing: border-box;

}

nav ul{
  list-style-type: none;
  display: flex;
  padding: 12.5px 0 0;
  box-sizing: border-box;
  
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left:32px;
}
header div h1{
    color: #ffff;
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.active{
    color:#a3c962 ;
}
 nav ul li a:hover{
     color: #a3c962;

 }


/* end of the header */

/* starting of the main global */
.main-content{
    margin: auto;
    width: 54%;
    color: #ffff;
    text-align: center;
    padding-top: 209px;
    box-sizing: border-box;
}
 .main-content .global{
    font-family:'Playfair Display', serif;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 60px;
}
.main-content h1{
    font-family:'Playfair Display', serif;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 46px;
    margin: 0 0 16px;
}
.main-content .loream{
    line-height: 25px;
  
}
.main-content div button{
    margin: 50px 10px 0;
    color: #a3c962;
    letter-spacing: 2px;
    font-size: 15px;
    padding: 10px 20px;
    border:2px solid #ffff;
    border-radius: 25px;
    box-sizing: border-box;
}
.active-button{
    background-color: #a3c962;
    color: #ffff !important;
}

.main-content div button:hover{
    background-color: black;
    color: #ffff;
}
/* end of the main global */

/* start of the what we do page */
    .about{
        width: 100%;
        height: 800px;
    }
    .about-content{
        text-align: center;
        margin: 100px;
    }
.about .about-content .about-content-item1{
    font-size: 20px;
    color: #a3c962;
    font-weight: 600;
}

.about .about-content .about-content-item2{
    font-size: 25px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    font-family:'Playfair Display', serif;
    letter-spacing: 2px;
    line-height: 45px;
}

.about .about-content .about-content-item3{
    letter-spacing: 1px;
    padding-top: 30px;
    width:35%;
    margin: auto;
    color: rgba(0, 0, 0, 0.6);
}
.about .about-image{
    margin-left: 280px;
    display: inline;
}
.about .about-image img{
    width: 25%;
    height: 60%;

}
.aboutus{
    position: absolute;
    top: 68em;
    left: 580px;
}

.aboutus-data{
    width: 56%;
    margin: 20px auto 0;
    text-align: left;
}
.aboutus-item1{
    font-family:'Playfair Display', serif;
    color:  #a3c962;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;

}

.aboutus-item2{   
    font-family:'Playfair Display', serif;
    color:  #000;
    font-size: 24px;
    letter-spacing: 2px; 
    line-height: 34px;
    margin-bottom: 20px;
}

.aboutus-item3{   
    font-family: 'Open Sans', sans-serif;
    color:  rgba(0, 0, 0, 0.671);
    font-size: 14px;
    letter-spacing: 1px; 
    line-height: 28px;
}
.progress{
    width: 100%;
    margin:10px 0 0;
}
.progerss-item{
    width: 80%;
}
.progress-item img{
    width: 100% !important;
    height: auto;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}


.about-us-wrapper{
    display: flex;
}

.column-half{
    width:50%;
    padding-left:15px;
    padding-right:15px;
}

.image-wrapper{
    text-align: center;
}

.leaf_image{
    width: 400px;
    height:450px;
}
/* end of the what we do page */


/* our service style */

.our-service-data-item{
    display: flex;
}
.column-half h3{
    letter-spacing: 1px;
    color:  #a3c962;
    font-size: 20px;
    margin-bottom: 0.5rem;
    font-family:'Playfair Display', serif !important;
}
.column-half h4{
    font-size: 35px;
    font-weight: 500;
}


.padding-y-1rem{
    color: rgba(255, 255, 255, 0.8);
    padding: 1rem 0 1rem 0;
    text-align: right;
    letter-spacing: 1px;
}
.our-service-data-item h4{
    font-family:'Playfair Display', serif;
    letter-spacing: 2px;
    font-size: 35px;
    color: #ffff;   
}

/* .service-container-data .container-item{
    width: 23%;
    margin: 15px;
    justify-content: space-evenly;
} */

.our-service{
    color: #ffff;
    background-image: url('https://images.unsplash.com/photo-1505807557511-bc38492556a6?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGxlYXZlc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.padding-y-3rem{
    padding-top:4rem;
    padding-bottom:5rem;
}
.upper-part,.lower-part{
    width: 100%;
    display: flex;
}

.margin-top-3rem{
    margin-top:3rem;
}

.lower-part{
    margin-top:1rem;
}

.card{
    width:33.33%;
    height: auto;
    text-align: center;
}
/* .card .card-body:hover{
    width:33.33%;
    position: absolute;
    top: 0;
    background-color: black;
} */
.fab, .fas{
    font-size: 40px;
    color: #000000;
    margin-bottom: 20px;
}
.card-body{
    width: 340px;
    padding: 2rem 1.5rem;
    background: white;
    border: 1px solid black;
}
.card-header{
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    font-size: 23px;
    font-weight: 600;
    color: #a3c962;

}
.card-footer{
    padding:1rem 2.5rem 0 ;
    color: rgba(0, 0, 0, 0.514);
    text-align: justify;
}
/* end of the our service style */

/* start of the Gallery */

.column-gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5rem;
   
}
.column-gallery-first{
    width: 50%;
    text-align: right;
    padding-right: 2rem;
    padding-top: 4rem;

}
.column-gallery-first h3,h1{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 35px;
}
.column-gallery-first h3{
    color: #a3c962;
    font-weight: 600;
    padding-bottom: 5px;
    font-size: 18px !important;
}
.gallary-margin{
    margin-top: 4rem;
}
.margin-y-3rem{
    margin-top: 3rem;
}

.column-gallery-second{
    width: 50%;
    text-align: left;
    letter-spacing: 1px;
    line-height: 29px;
    padding-top: 4.5rem;
    font-family: 'Playfair Display', serif;
}
.column-gallery-first-item{
    display: flex;
    background-color: white;
}
.image1{
    width: 540px;
    height: 405px;
}
.gallery-item img{
    width:255px;
    height: 200px;
    margin: 25px 30px 20px 0;
}
.gallery-item1 img{
    width:255px;
    height: 200px;
    margin: 20px 20px 20px 0;
}
.second-gallery-item{
    width: 100%;
    display: flex;
    margin-left: 16px;
}
.image-x-1rem{
    width: 540px;
    height: 405px;
    padding-right: 0.5rem;
}
.second-item1 img{
    width:255px;
    height: 200px;
    margin: 25px 10px 5px 0;
}
.second-item2 img{
    width:255px;
    height: 328px;
    margin: 25px 0 0 8px;
}

.gallery-footer{
    width: 100%;
    height: auto;
    background-color: #a3c962;
}
.footer-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer-item{
    width: 25%;
    padding-top:3rem;
    padding-bottom:4rem;
    text-align:center;
}
.footer-item i{
    color: #ffff;
    text-align: center;
}
.footer-number{
    font-size: 25px;
    color: #000;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1rem 0 3rem 0;
    text-align: center;
}
.footer-text{
    color: #ffff;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    /* font-family: 'Open Sans', sans-serif; */ 
}
.fac{
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px !important;
}
/* end of the gallery */

/* start of the our features */
.our-features{
    width: 100%;
}
.features-color{
    color: #000;
}
.features-y-4rem{
    display: flex;
    margin-top: 4rem;
    margin-left: 15rem;
}
.padding-x-2rem h5{
    font-size: 18px;
    color:  #a3c962;
}
.padding-x-2rem h1{
    font-size: 37px;
    letter-spacing: 2px;

}
.features-wrapper{
    width: 45%;
}
.padding-x-2rem{
    width: 65%;
    padding-left: 2rem;
}
.padding-y-2rem{
    display: flex;
    padding-top: 2rem;
    padding-bottom: 30px;
}
.img{
    width: 400px;
    height: 450px;
}
.features-first{
    width: 45%;
    margin-top: 2rem;
}
.fetures-second{
    width: 55%;
    margin-top: 2rem;
}
.fetures-second-item{
    width: 100%;
    display: flex;
    padding: 20px 20px;
    background: #f7f7f7;
    border-radius: 10px;
    box-shadow: -3px 7px 39px -5px rgb(0 0 0);
    margin-bottom: 25px;
}
.fetures-second-item2{
    width: 90%;
    display: flex;
    margin-left: 10%;
    text-align: start;
    padding: 20px 20px;
    background: #f7f7f7;
    border-radius: 10px;
    box-shadow: -3px 7px 39px -5px rgb(0 0 0);
    margin-bottom: 25px;
}

.features-item1{
    width: 30%;
    text-align: center;
}
.features-item2{
    width: 70%;
    text-align: left;
}
.fav{
justify-content: center;
padding-top: 10px;
}
.row-features-text h2{
    color: #a3c962;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.row-features-text p{
    padding: 0 3rem 0 0;
    color: #4c4c4c;
    line-height: 28px;
}

/* end of the our features */

/* start of the our plan */

.our-plan{
    width: 100%;
    background-image: url('https://demo.w3layouts.com/demos_new/template_demo/17-12-2018/forest-demo_Free/2069386206/web/images/b2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 4rem;
    color: #ffff;
}
.title-page{
    width: 100%;
    display: flex;
    margin-top: 3rem;
}
.plan-wrapper-first{
    width:40%;
    text-align: end; 
}
.plan-wrapper-second{
    width:42%;
    text-align:start; 

}
.paln-head{
    font-size: 20px;
    font-weight: 600;
    color: #a3c962;
    font-family: 'Playfair Display', serif;
}
.plan-price{
    font-size: 37px;
    letter-spacing: 2px;
}
.paln-top-padding{
    padding-top: 0.5rem;
    color: #ffff;
    line-height: 28px;
    letter-spacing: 1px;
}
.our-plan-card{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}
.plan-card-item{
    width: 25%;
    background-color: #ffff;
    text-align: center;
    padding-bottom: 5px;
}
.plan-list ul li{
    list-style-type: none;
}
 .list-plan2 ,.list-plan3, .list-plan4{
    margin-left: 30px;
}
.plan-wrapper{
    color: #a3c962;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    /* line-height: 5rem; */
    padding: 18px 0 ;
}
.plan-wrapper span{
    color: #000;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Playfair Display', serif;

}
.plan-wrapper p{
    display: inline;
    color: #000;
    font-size: 18px;
    font-weight: 500;

}
.plan-name h4{
font-size: 22px;
font-weight: 700;
font-family: 'Playfair Display', serif;
margin-top: 20px;
letter-spacing: 1px;
color: #a3c962;
}
.plan-list ul li{
    color: #4c4c4c;
    padding-top: 11px;
    font-size: 14px;
}
.plan-book{
    padding: 18px 0;
}
.plan-book button{
    color: #ffff;
    width: 120px;
    font-size: 15px;
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 8px 20px;
    background-color: #a3c962;
}
.plan-book button:hover{
    background-color: #000;

}
.plan-book button a{
    text-decoration: none;
    color: #ffff;
}
/* end of the our plan */

/* starting of the our clients */
.client-name{
    margin-top: 25px;
}
.align-left{
    text-align: start;

}
.client-card-body{
    width: 100%;
    color: rgba(0, 0, 0, 0.8);
    padding-top: 20px;

}

.card-body-clients{
    width: 370px;
    padding: 2rem 1.5rem;
    background: white;
}
.clint-padding{
    padding-bottom: 5rem;
}
.clint-position{
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: 1px;
    padding-top: 5px;
    text-align: start;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
}
.image-box{
    width: 160px;
    height: 160px;
    text-align: center;
    padding: 4px 0;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.26);
}
/* end of our clients */

/* client footer */
.client-footer{
    background-color: #a3c962;
    padding: 30px 0 80px 0;
}
.youtube{
    width: 100%;
    text-align: center;
}
.youtube iframe{
    width: 250px;
    height: 100px;
}
.footer-row-1{
    text-align: center;
    padding: 20px;
    color: #ffff;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 30px;
}
.footer-row-2{
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}
/* starting of the volunteers */
.image-wrapper-size{
    width: 255px;
    height: 328px;
}
.margin-buttom{
    margin-bottom: 0rem;
}
.row-align-text{
    text-align: center;
}
.col-padding{
    padding: 8px 0 0;
    letter-spacing: 2px;
}
.icon-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.fss{
    font-size: 15px;
    text-align: center;
    padding: 10px 0;
}
.facs{
    color: #ffff;
    width: 35px;
    height: 35px;
    background-color: #000;
    border-radius: 35px;
    margin:8px;
}
/* end of the volunteers */

/* starting of the our blog */
.our-blog{
    background-image: url('https://images.unsplash.com/photo-1610897946052-4f46ba2eb374?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fGFsb25lfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blog-color{
    color: #ffff;
}
.row-margin{
    margin: 0 2.5rem 0;
}
.blog-size{
    font-size: 15px;
    padding-top: 10px;
}
.blog-font{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.blog-card{
    width:33%;
    height: auto;
    text-align: center;
}
.blog-image{
    padding: 10px;
}
.blog-image img{
    width: 310px;
    height: 232.5px;
}

.card-body-blog{
    width: 340px;
    background: white;
}
.blog-body{
    padding: 0 0 20px 17px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.blog-card-body{
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
    padding: 20px 5px 0 0;
}
.blog-date{
    color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-right: 36px;
    font-size: 15px;
}
/* end of the our blog */